.productDetailCard {
    display: flex;
    align-items: center;
    padding: 1em;
    border: 1px solid #e0e0e0;
    border-radius: 0.5em;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    gap: 1em;
}

.productInfo {
    gap: 1em;
    display: flex;
    flex-direction: column;
}

.unitQuantity {
    display: flex;
    gap: 0.4em;
    font-weight: bold;
    color: #333;
}

.unitQuantity span {
    display: flex;
    align-items: center;
}

.unitStyle, .quantityStyle {
    padding: 0.25em;
    background-color: #eaf4fc;
    border-radius: 0.25em;
    color: #007bff;
}