.recipeDetail {
    border-radius: 1.5em;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.5);
    padding: 1em;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    width: 15em;
}

.recipeDetailHeader {
    width: 12em;
}

.recipeDetailTitle {
    text-align: center;
    word-wrap: break-word;
    white-space: normal;
    overflow: hidden;
}

.recipeDetailBody {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.recipeDetailInfo {
    display: flex;
    gap: 1em;
}

.recipeDetailCreator {
    display: flex;
    gap: 1em;
    align-items: center;
}

.recipeDetailCreator .profilePicture {
    width: 4em;
}
