.productDetail {
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-size: 14px;
    color: #666;
}

.productDetail span {
    display: block;
    color: #444;
}

.productNutrients {
    display: flex;
    flex-wrap: wrap;
    gap: 0.4em;
    font-size: 14px;
}

.productNutrients span {
    background-color: #f1f1f1;
    padding: 4px 8px;
    border-radius: 4px;
    color: #555;
}

.productDetail div span {
    display: inline-block;
    background-color: #eaf4fc;
    color: #007bff;
    padding: 4px 8px;
    border-radius: 4px;
    margin: 4px 0;
}